header, aside, main, footer{
    display: inline-block;
    /*box-sizing: border-box;*/
    float: left;
    margin: -2px;
}
header{
    background-color: red;
    height: 200px;
    width: 100%;
}
aside{
    background-color: cyan;
    height: 600px;
    width: 10%;
}
main{
    background-color: blue;
    height: 600px;
    width: 80%;
}
section{
    width: 31%;
    height: 500px;
    margin: 5px;
    box-sizing: border-box;
    background-color: burlywood;
    display: inline-block;
}
footer{
    background-color: green;
    height: 200px;
    width: 100%;
}
table, tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
.imatge1{
    position: relative;
    width: 5%;
    top: 90px;
    left: 10%;
}
.imatge2{
    position: absolute;
    width: 5%;
    z-index: 20;
    top: 1000px;
    left: 10%;
}
.imatge3{
    position: fixed;
    width: 5%;
    z-index: 20;
    top: 50%;
    right: 0px;
}